.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
  &__wrapper {
    display: flex;
    gap: 8px;
  }
  &__btn {
    height: 24px;
    width: 24px;
    background: center url('/public/arrow-icon.svg') no-repeat;
    cursor: pointer;
    &--prev {
      transform: rotate(180deg);
    }
    &.disable {
      opacity: 0.5;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    font-size: 12px;
    color: var(--text);
    &.active {
      background-color: var(--blue);
      color: var(--base);
    }
  }
}
